@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/aronesans/v4/TUZezwhrmbFp0Srr_tH6fv6RcUejHO_u7GF5aXfv-U2QzBLF6gslWpj6DW0.ttf) format('truetype');
}
